In [15]:
## 必要なライブラリのセットアップ
### 基礎ライブラリ
import pandas as pd
### SKlearn実行用ライブラリ
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
### 前処理
from sklearn.preprocessing import Imputer
from sklearn.feature_selection import RFE
### モデル検証
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

In [8]:
## テストデータの読み込み

In [59]:
df = pd.read_csv('./data/av_loan_u6lujuX_CVtuZ9i.csv', header=0)
X = df.iloc[:, :-1] # 最終列が審査結果のため最終列以前を特徴量Xとして読込
X_fin = X.drop(index=1,axis=1) # 1列目はIDで不要のため削除
y = df.iloc[:, [2]]         # 最終列を正解データとして読込
print(X.shape)
X.head()

(614, 12)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban

In [60]:
print(X_fin.shape)
X_fin.head()
### テストデータの前処理

(613, 12)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban

In [47]:
### One-hot encoding

In [2]:
### imputer

In [3]:
### RFE

In [4]:
## スコアデータの読み込み

In [5]:
### one-hot encoding

In [6]:
### 学習データとカラム構成を統一する

In [7]:
### imputer

In [8]:
### RFEでカラム生成

In [9]:
## 学習実行

In [10]:
### Pipe-Line生成

In [11]:
### fitで学習

In [12]:
## 評価プロセス

In [13]:
### 各評価指標でDF生成

In [14]:
### ビジュアライズ

In [ ]:
### ベストモデルの保存